body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
  }
  .nav {
    background: rgba(150,200,0,.65);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav li {
    display: inline-block;
    position: relative;
  }
  
  .nav li a:hover {
    background: rgba(0,0,0,.15);
  }
  
  .nav a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 20px 40px;
  }
  
  .nav li a:hover,
  .dropdown-trigger:hover {
    background: rgba(0,0,0,.15);
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 61px;
    left: 0px;
  }
  
  .dropdown-trigger {
    padding: 20px 40px;
    cursor: pointer;
  }
  
  .dropdown-trigger span {
    font-size: .5em;
  }
  
  .nav li ul li {
    display: block;
    background: rgba(150,250,0,.5);
    border-top: 1px solid #777;
  }
  
  .nav li ul li:first-of-type {
    border: none;
  }

  .word-container,
  .sentence-container {
    width: 80%;
    margin: 12px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .word-list,
  .sentence-list {
    list-style: none;
    padding: 20px;
  }
  
  .pair-container {
    display: flex;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .key,.translation {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    background-color: #f4f4f4;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .id {
    vertical-align: top;
    padding: 5px;
    width: 30px;
    text-align: right;
  }
  .translation {
    background-color: #fff;
    width: 5%;
    display: none;
  }
  .value {
    font-size: 16px;
    color:#666;
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding: 5px 10px;
    border-radius: 5px;
  
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .special-word {
    color: #f00;
    font-weight: bold;
  }
  .zh-sen{
    width: 40%;
    font-size: 14px;
  }
  .en-sen {
    width: 60%;
    font-size: 16px;
  }


  @media screen and (max-width: 1024px){
    .word-container,
    .sentence-container {
      width: 90%;
    }
    .word-list,
    .sentence-list {
      padding: 20px 10px;
    }
  }
  @media screen and (max-width: 768px){
    .word-container,
    .sentence-container {
      width: 100%;
    }
    .word-list,
    .sentence-list {
      padding: 20px 0;
    }
  }