<div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/vocabulary">Vcabulary</a></li>
      <li><a href="/sentences">Sentences</a></li>
      <li><a href="/topic1">Topics</a></li>
      <!-- <li class="dropdown-trigger">Topics <span>▼</span></a>

        <ul class="dropdown-menu">
          <li><a href="/topic1">Topic 01</a></li>
        </ul>
        
      </li> -->
    </ul>
</div>